body{
    padding: 3%;
    background-color: rgb(117, 183, 183);
}
.card{
    border-color: blue;
    background-color: rgb(48, 99, 99);
    padding: 3%;
    max-width: 60%;
    scale: 70%;
}

header{
    padding:2%
}

img{
    width: 100px;
    height: 100px;
}

.product-title{
    font-size: 15px;
}

.descripcion{
    font-size: 10px;
}